<ul class="d-flex flex-column align-items-center list-unstyled">
    <li class="bg-light col-9 my-2 text-center h2 lead p-2">egg</li>
    <li class="bg-light col-9 my-2 text-center h2 lead p-2">salt</li>
    <li class="bg-light col-9 my-2 text-center h2 lead p-2">oil</li>
</ul>