<ul id="searchedArea" class="d-flex flex-wrap justify-content-center col-12 py-1 px-1 ">
    <li class="d-flex flex-column col-4 border border-warning mt-4 bg-light">
        <p class="h2 text-center">eggs</p>

        <div class="col d-flex px-4 my-1">
            <p class="col-3 h3 lead">Description: </p>
            <p class="col text-wrap">eggs cooked with salt and a bit of oil on a pan  great for breakfeast</p>
        </div>
        
        <div class="col d-flex px-4 my-1">
            <p class="col-2 h3 lead">Ingredients: </p>
            <ul class="d-flex flex-column align-items-center list-unstyled col-10">
                <li class="my-1 text-center">salt - 2oz</li>
                <li class="my-1 text-center">egg - 1</li>
                <li class="my-1 text-center">oil - 2oz</li>
            </ul>
        </div>
        
        <div class="col d-flex px-4 my-1">
            <p class="col-2 h3 lead">Macros: </p>
            <ul class="d-flex flex-column align-items-center list-unstyled col-10">
                <li class="my-1 text-center">calories - 70</li>
                <li class="my-1 text-center">protien - 14</li>
            </ul>
        </div>
        
        <div class="col d-flex px-4 my-1">
            <p class="col-2 h3 lead">Steps: </p>
            <ol class="d-flex flex-column col-10">
                <li class="my-1 ">add oil to pan</li>
                <li class="my-1 ">crack egg in pan</li>
                <li class="my-1 ">add a salt</li>
            </ol>
        </div>
        

    </li>
</ul>
