<div id="searchSection" class="searchSection bg-info d-none flex-column p-4" style="min-height: 65vh;">
    {{!-- changed d-flex to d-none so if an issue arises it might be from here --}}
    <div class="col-9 d-flex m-auto justify-content-center">
        <p class="mx-2 p-1 h2 lead">Search recipe by name: </p>
        <input type="text" id="searchRecipeText" class="col" /> 
        <input type="button" id="searchRecipeBtn" class="px-5" value="Search"/>
    </div>
    
    <div class="col d-flex flex-wrap">
        {{> searched }}
        {{!-- {{> searched }} --}}
        {{!-- {{> searched }} --}}
    </div>
    
</div>