<div>
    <p>eggs</p>

    <p>Description: </p>
    <p>eggs cooked with salt and a bit of oil on a pan</p>

    <p>Ingredients: </p>
    <ul>
        <li>salt</li>
        <li>egg</li>
        <li>oil</li>
    </ul>

    <p>Macros: </p>
    <ul>
        <li>calories - 70</li>
        <li>protien - 14</li>
    </ul>

    <p>Steps: </p>
    <ul>
        <li>add oil to pan</li>
        <li>crack egg in pan</li>
        <li>add a salt</li>
    </ul>

</div>