<ul class="d-flex flex-column align-items-center list-unstyled">
    <li class="bg-light col-9 my-2 text-center h2 lead p-2">Add oil to pan and heat on meduim heat.</li>
    <li class="bg-light col-9 my-2 text-center h2 lead p-2">Crack egg on to pan.</li>
    <li class="bg-light col-9 my-2 text-center h2 lead p-2">Season with salt on top of egg and it cooks.</li>
</ul>