<div id="page" class=" bg-primary">
    <div id="addSearch" class="container-md">
        <button 
        id="add" 
        class="py-2 px-4 border-top-1 border-right-1 border-bottom-0 border-left-1 rounded bg-success">
            Add
        </button>
        <button 
        id="search" 
        class="py-2 px-4 border-top-1 border-right-1 border-bottom-0 border-left-1 rounded bg-info">
            Search
        </button>
    </div>
    {{> add }}
    {{!-- {{> search }} --}}
</div>
